* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#navbar {
  height: 12vh;
}
/*5. Hero Sections*/

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(image/hero-image.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
  font-size: 3.1rem;
  font-weight: 800;
}

/*Adjusting image height to fit all screens on all devices, top to down*/
@media only screen and (max-width: 550px) {
  .hero-image {
    height: 140vh;
  }
}
